<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>
<style>
  .abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 250px;
}

#botones{
    margin-top: 1em;
}
</style>

<body>
    <div class="container" style="width: 700px; padding: 1%;">
        <form method="POST" onsubmit="calcularTotal(event)">
            <div class="form-group"> 
                <label for="numBoleto">Num. de boleto</label>
                <input type="number" class="form-control" id="numBoleto" name="numBoleto" required="true">
            </div>
            <div class="form-group">
                <label for="destino">Destino</label>
                <input type="text" class="form-control" id="destino" name="destino" required="true">
            </div>
            <div class="form-group">
                <label for="nombreCliente">Nombre</label>
                <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" required="true">
            </div>
            <div class="form-group">
                <label for="añosCumplidos">Años cumplidos</label>
                <input type="number" class="form-control" id="añosCumplidos" name="añosCumplidos" required="true">
            </div>
            <div class="form-group">
                <label for="tipoViaje">Tipo de viaje</label>
                <select class="form-control" id="tipoViaje" name="tipoViaje">
                    <option value="1">Sencillo</option>
                    <option value="2">Doble</option>
                </select> 
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" required="true">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Calcular</button>
            <button type="reset" class="btn btn-primary" onclick="limpiar()" >Limpiar</button>
        </form>
        <div id="resultados" ></div>
    </div>
<%-include('partials/piePagina.html')%>  
</body>
</html>
<script>
    function calcularTotal(event) {
      event.preventDefault();
        
      const precio = Number(document.getElementById('precio').value);
      const tipoViaje = Number(document.getElementById('tipoViaje').value);
      const añosCumplidos = Number(document.getElementById('añosCumplidos').value);
  
      let subtotal = 0;
      if (tipoViaje === 1) {
        subtotal = precio;
      } else if (tipoViaje === 2) {
        subtotal = precio + (precio * 0.8);
      }
  
      const impuesto = subtotal * 0.16;
  
      let descuento = 0;
      if (añosCumplidos >= 60) {
        descuento = (subtotal + impuesto) * 0.5;
      }
  
      var total = subtotal + impuesto; 
      total = total - descuento; 
  
      const resultadosDiv = document.getElementById('resultados');
      resultadosDiv.innerHTML = `
      <div>
        <div class="form-group"> 
        <label>Subtotal:</label>
        <input class="form-control" value=${subtotal}><br>
        <label>Impuesto:</label>
        <input class="form-control" value=${impuesto}><br>
        <label>Descuento: </label>    
        <input class="form-control" value=${descuento}><br>
        <label>Total:</label> 
        <input class="form-control" value=${total}><br>
        </div>    
    </div>
      `;
    }
    function limpiar() {
    document.getElementById("numBoleto").value = "";
    document.getElementById("destino").value = "";
    document.getElementById("nombreCliente").value = "";
    document.getElementById("añosCumplidos").value = "";
    document.getElementById("tipoViaje").value = "";
    document.getElementById("resultados").value = "";
    const resultadosDiv = document.getElementById('resultados');
    resultadosDiv.innerHTML = "";
}
</script>